*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --primary-color:#760031;
  --cart-color:#F5F5F5;
}
body{
  height:100vh;
  width:100vw;
}
/* Home Page  */
.home{
  display:flex;
    height:100vh;
  width:100%;
}
.left{
  width:50%;
  height:100%;
  padding:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.left h1{
  font-size: 5rem;
  color:white;
}

.right{
  width:50%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.cart{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  width:80%;
  max-width:700px;
}

.cart-one,
.cart-two,
.cart-three,
.cart-four{
  background-color: var(--cart-color);
  height:180px;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;

}
.para{
  font-size: 1.5rem;
  color:white;
}
.btn{

}