*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --primary-color:#760031;
  --cart-color:#e7e6e6;
}
body{
  height:100vh;
  width:100vw;
}

/* Home Page  */
.home{
  display:flex;
    height:100vh;
  width:100%;
}
.left{
  width:50%;
  height:100%;
  padding:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.left h1{
  font-size: 5rem;
  color:white;
}

.right{
  width:50%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.cart{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:25px;
  width:80%;
  max-width:700px;
}

.cart-one,
.cart-two,
.cart-three,
.cart-four{
  background-color: var(--cart-color);
  height:200px;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  border:4px solid var(--primary-color);
  padding:10px;
  box-shadow: 12px 12px 2px 1px var(--primary-color);
}
.para{
  font-size: 1.4rem;
  color:var(--primary-color);
  font-weight: bold;
}
.btn{
  font-size: 1rem;
  color:var(--primary-color);
  padding:10px 20px;
  border:2px solid var(--primary-color);
  border-radius: 40px;
  transition: all ease 0.2s;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--primary-color);
  color:white;
}

/* Visitor Form  */
.visitor-form{
  height: 100vh;
  width: 100%;
  /* background-color: var(--primary-color); */
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cart-color);
  padding:3rem;
  box-shadow: 12px 12px 2px 1px var(--primary-color);
}


.back{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.back-button{
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color:white;
  border-radius: 40px;
  transition: all ease 0.2s;
  border: 4px solid transparent;
}
.back-button:hover{
  border:4px solid var(--primary-color);
  color:var(--primary-color);
  background-color: white;
}

.back-button {
  padding: 8px 16px;
  cursor: pointer;
}

.form h1{
  font-size: 5rem;
  color:var(--primary-color);
  margin-bottom: 40px;
  border-bottom: 4px solid var(--primary-color);
}
.inputs{
  padding:15px 30px;
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
  border:3px solid transparent;
  transition: all ease 0.2s;
  border-radius: 20px;
}
.inputs:hover{
  border: 3px solid var(--primary-color);
}
.inputs-img{
  padding:10px;
  font-size: 1.2rem;
  border:3px solid var(--primary-color);
  /* margin-bottom: 20px; */
}
.submit{
  padding:15px 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  border:3px solid var(--primary-color);
  color:var(--primary-color);
  transition: all ease 0.2s;
}

.submit:hover{
  background-color: var(--primary-color);
  color:white;
}
.int{
  padding:10px;
}